<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Autenticación</title>

    <style type="text/css">
        body div {
            text-align: center;
        }

        label,
        input[type=text],
        input[type=password] {
            display: inline-block;
            width: 150px;
            margin: 5px;
        }

        input[type=submit] {
            width: 60px;
            margin: 10px;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>

<div>
    <h2>Formulario de autenticación</h2>
</div>
<div th:if="${param.error}">
    <h3>Username o password inválidos</h3>
</div>
<div th:if="${param.logout}">
    <h3>Ha cerrado su sesión con éxito</h3>
</div>
<div>
    <form th:action="@{/login}" method="post">
        <div>
            <label>Username: </label>
            <input type="text" name="username">
        </div>
        <div>
            <label>Password: </label>
            <input type="password" name="password">
        </div>
        <div>
            <input type="submit" name="Login">
        </div>
    </form>
</div>


</body>
</html>